input {
  display: block;
  width: calc(100% - 32px);
  margin: 16px;
  font-size: 24px;
  color: #5E5B58;
  border: 1px solid #5E5B58;
}

button {
  font-size: 20px;
  padding: 16px;
  border-radius: 100px;
  border: 0;
  background-color: #F2AC21;
  color: white;
  outline: 0;
}
