<div class="actions">
  <button mat-raised-button (click)="addVideo = !addVideo">Add</button>
  <button mat-raised-button color="warn" (click)="showVideos = !showVideos">Show</button>
</div>

<div class="videosDropzone" *ngIf="addVideo">
  <dropzone [config]="config" (addedFile)="getFile($event)"
            [message]="'Click or drag video files here to upload'"></dropzone>
  <div>
    <button mat-raised-button color="primary" (click)="upload()">Upload</button>
  </div>
</div>

<div class="videoList" *ngIf="showVideos">
  <ul>
    <li *ngFor="let v of videoFiles">
      <a target="_blank" [href]="getVideoUrl(v.adVideo)">{{v.adVideo}}</a>
    </li>
  </ul>
</div>
