<form [formGroup]="saveProductForm" class="saveProductForm" #prodForm>
  <h1 mat-dialog-title>{{edit ? 'Edit' : 'Add new'}} product</h1>


  <!-- Image area -->
  <div class="imageArea">

    <div class="imgContainer" *ngIf="productImg">
      <img [src]="productImg" *ngIf="edit">
      <i class="fa fa-times-circle" (click)="removeProductImg()"></i>
    </div>

    <div class="imgPlaceholder" *ngIf="!productImg">
    </div>


    <ng-container *ngIf="(edit && !productImg) || !edit">

      <input type="file" name="avatar" accept="image/png, image/jpeg"
             (change)="getImage($event.target.files)">
      <input type="hidden" formControlName="image">
      <mat-error *ngIf="imageFieldCtrl.hasError('required') && isSubmitted">
        Image is <strong>required</strong>
      </mat-error>
    </ng-container>
  </div>


  <input type="text" placeholder="Product Title" name="it" formControlName="title"
         autocomplete="off">
  <mat-error *ngIf="(titleCtrl.touched || isSubmitted) && titleCtrl.hasError('required')">
    Title is <strong>required</strong>
  </mat-error>

  <ng-container *ngIf="!sizable">

    <input type="text" placeholder="Product Price" name="it" formControlName="price" autocomplete="off">
    <mat-error *ngIf="(priceCtrl.touched || isSubmitted)&& priceCtrl.hasError('required')">
      Price is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="priceCtrl.hasError('pattern')">Price should be numeric</mat-error>
    <!--       *ngIf="product.sizable=='false'  product.customizable=='false'"-->
  </ng-container>


  <!-- Product possible sizes -->
  <div>Does product has different sizes?</div>
  <mat-radio-group formControlName="sizable" (change)="changeSizable($event)">
    <mat-radio-button class="sizable" [value]=false>No</mat-radio-button>
    <mat-radio-button class="sizable" [value]=true>Yes</mat-radio-button>
  </mat-radio-group>

  <!-- Prices for different sizes -->
  <ng-container *ngIf="sizable" [formArrayName]="'sizes'">
    <ng-container *ngFor="let item of sizes; let i = index;">
      <div [formGroupName]="i.toString()" class="priceContainer">

        <input formControlName="title" type="hidden" placeholder="Item name" [value]="item.title" #currentTitle>
        <input formControlName="price" [placeholder]="item.title" required #currentPrice>

        <ng-container
          [ngTemplateOutlet]="priceValidation"
          [ngTemplateOutletContext]="{priceCtrl: sizesArr.controls[i].get('price')}">
        </ng-container>
        <ng-template #priceValidation let-priceCtrl="priceCtrl">
          <ng-container *ngIf="priceCtrl.touched && priceCtrl.errors">
            <mat-error *ngIf="isSubmitted && priceCtrl.hasError('required')" [innerHTML]="item.requiredMsg"></mat-error>
            <mat-error *ngIf="isSubmitted && priceCtrl.hasError('pattern')" [innerHTML]="item.numericMsg"></mat-error>
          </ng-container>
        </ng-template>
        <mat-checkbox [checked]="checkBoxCheck(currentPrice)"
                      (change)="disablePrice(currentPrice,currentTitle,getInput(item.title))"></mat-checkbox>
      </div>
    </ng-container>
  </ng-container>


  <!-- Product possible customization -->
  <div>Is product customizable?</div>
  <mat-radio-group formControlName="customizable" (change)="changeCustomizable($event)">

    <mat-radio-button class="customizable" [value]=false>No</mat-radio-button>
    <mat-radio-button class="customizable" [value]=true>Yes</mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="customizable">

    <!--           [(ngModel)]="product?.sizes[2].price"-->
    <ng-container *ngIf="ingrMenus.length > 0">
      <mat-form-field
        style="display:block;  width:calc(100% - 32px); margin:auto">
        <mat-select placeholder="Ingredient menus for making product"
                    formControlName="productIngredients" multiple
                    (selectionChange)="menuSelected($event.value)">
          <!--                    <mat-select-trigger>-->
          <!--                      {{selectedIngrMenus.length > 0 ? selectedIngrMenus[0].title : ''}}-->
          <!--                      <span *ngIf="selectedIngrMenus?.length > 1" class="example-additional-selection">-->
          <!--                        (+{{selectedIngrMenus.length - 1}} {{selectedIngrMenus?.length === 2 ? 'other' : 'others'}})-->
          <!--                      </span>-->
          <!--                    </mat-select-trigger>-->
          <mat-option *ngFor="let ingr of ingrMenus" [value]="ingr._id">{{ingr.title}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        style="display:block;  width:calc(100% - 32px); margin:auto">
        <mat-label>Default Ingredients</mat-label>
        <!--        <ng-container *ngFor="let ingr of selectedIngrMenus">-->
        <!--          <span>{{ingr.title}}</span>-->
        <!--        </ng-container>-->
        <mat-select formControlName="defaultIngredients" multiple (selectionChange)="defaultIngrSelected($event.value)">
          <mat-optgroup *ngFor="let ingr of selectedIngrMenus" [label]="ingr.title">
            <mat-option *ngFor="let ingr_type of getIngredientsByMenu(ingr._id)" [value]="ingr_type._id">
              {{ingr_type.title}}
            </mat-option>
          </mat-optgroup>

          <!--                  <mat-option *ngFor="let ingr of ingredients" [value]="ingr._id">{{ingr.title}}</mat-option>-->
        </mat-select>
      </mat-form-field>

      <mat-form-field
        style="display:block;  width:calc(100% - 32px); margin:auto">
        <mat-label>Optional Ingredients</mat-label>
        <!--        <ng-container *ngFor="let ingr of selectedIngrMenus">-->
        <!--          <span>{{ingr.title}}</span>-->
        <!--        </ng-container>-->
        <mat-select formControlName="optionalIngredients" multiple
                    (selectionChange)="defaultIngrSelected($event.value)">
          <mat-optgroup *ngFor="let ingr of selectedIngrMenus" [label]="ingr.title">
            <mat-option *ngFor="let ingr_type of getOptionals()"
                        [value]="ingr_type._id">
              {{ingr_type.title}}
            </mat-option>
          </mat-optgroup>

          <!--                  <mat-option *ngFor="let ingr of ingredients" [value]="ingr._id">{{ingr.title}}</mat-option>-->
        </mat-select>
      </mat-form-field>

    </ng-container>
  </ng-container>

  <mat-slide-toggle [checked]="false" class="visibility" (change)="visibilityChanged($event)" formControlName="hidden">Hidden</mat-slide-toggle>
  <div class="actions">
    <mat-spinner [diameter]="20" *ngIf="common.formProcessing" color="warn"></mat-spinner>
    <button (click)="save()">{{edit ? 'Update product info' : 'Add new product'}}</button>
  </div>
</form>
