<form [formGroup]="saveProductForm" class="saveProductForm">
  <h1 mat-dialog-title>{{edit ? 'Edit' : 'Add new'}} product</h1>
  <input type="text" placeholder="Product Title" name="it" formControlName="title"
         autocomplete="off">
  <mat-error *ngIf="titleCtrl.touched && titleCtrl.hasError('required')">
    Title is <strong>required</strong>
  </mat-error>
  <input type="text" placeholder="Product Price" name="it" formControlName="price" autocomplete="off">
  <mat-error *ngIf="priceCtrl.touched && priceCtrl.hasError('required')">
    Price is <strong>required</strong>
  </mat-error>
  <mat-error *ngIf="priceCtrl.hasError('pattern')">Price should be numeric</mat-error>
  <!--       *ngIf="product.sizable=='false'  product.customizable=='false'"-->


  <!-- Product possible sizes -->
  <div>Does product has different sizes?</div>
  <mat-radio-group formControlName="sizable" (change)="changeSizable($event)">
    <mat-radio-button class="sizable" [value]=false>No</mat-radio-button>
    <mat-radio-button class="sizable" [value]=true>Yes</mat-radio-button>
  </mat-radio-group>

  <!-- Prices for different sizes -->
  <ng-container *ngIf="sizable" [formArrayName]="'sizes'">
    <ng-container *ngFor="let item of sizes; let i = index;">
      <div [formGroupName]="i.toString()">
        <input formControlName="title" type="hidden" placeholder="Item name" [value]="item.title">
        <input formControlName="price" [placeholder]="item.title" required>
        <ng-container
          [ngTemplateOutlet]="priceValidation"
          [ngTemplateOutletContext]="{priceCtrl: sizesArr.controls[i].get('price')}">
        </ng-container>
        <ng-template #priceValidation let-priceCtrl="priceCtrl">
          <ng-container *ngIf="priceCtrl.touched && priceCtrl.errors">
            <mat-error *ngIf="priceCtrl.hasError('required')" [innerHTML]="item.requiredMsg"></mat-error>
            <mat-error *ngIf="priceCtrl.hasError('pattern')" [innerHTML]="item.numericMsg"></mat-error>
          </ng-container>
        </ng-template>

      </div>
    </ng-container>
  </ng-container>


  <!-- Product possible customization -->
  <div>Is product customizable?</div>
  <mat-radio-group formControlName="customizable" (change)="changeCustomizable($event)">

    <mat-radio-button class="customizable" [value]=false>No</mat-radio-button>
    <mat-radio-button class="customizable" [value]=true>Yes</mat-radio-button>
  </mat-radio-group>

  <ng-container *ngIf="customizable">

    <!--           [(ngModel)]="product?.sizes[2].price"-->
    <mat-form-field
      style="display:block;  width:calc(100% - 32px); margin:auto">
      <ng-container *ngIf="ingrMenus.length > 0">

        <!--                {{ingrMenus[0]}}-->
        <mat-select placeholder="Ingredients for making product" formControlName="productIngredients" multiple
                    (selectionChange)="menuSelected($event.value)">
          <mat-select-trigger>
            {{selectedIngrMenus.length > 0 ? selectedIngrMenus[0].title : ''}}
            <span *ngIf="selectedIngrMenus?.length > 1" class="example-additional-selection">
              (+{{selectedIngrMenus.length - 1}} {{selectedIngrMenus?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let ingr of ingrMenus" [value]="ingr">{{ingr.title}}</mat-option>
        </mat-select>
      </ng-container>
    </mat-form-field>
    <mat-form-field *ngIf="customizable"
                    style="display:block;  width:calc(100% - 32px); margin:auto">
      <mat-label>Default Ingredients</mat-label>
      <mat-select formControlName="defaultIngredients" multiple>
        <mat-optgroup *ngFor="let ingr of selectedIngrMenus" [label]="ingr.title">
          <mat-option *ngFor="let ingr_type of getIngredientsByMenu(ingr._id)" [value]="ingr_type">
            {{ingr_type.title}}
          </mat-option>
        </mat-optgroup>

        <!--        <mat-option *ngFor="let ingr of ingredients">{{ingr.title}}</mat-option>-->
      </mat-select>
    </mat-form-field>

  </ng-container>
  <input type="file" formControlName="image" accept="image/png, image/jpeg"
         (change)="getImage($event.target.files)">

  <button (click)="save()">{{edit ? 'Update product info' : 'Add new product'}}</button>
</form>
