/* You can add global styles to this file, and also import other style files */
/*@import url("https://kiosk3.herokuapp.com/fontawesome-pro-5.8.2-web/css/all.min.css");
@import url('https://kiosk3.herokuapp.com/fonts/roboto/roboto.css');*/
/*@import url("http://localhost:3500/fontawesome-pro-5.8.2-web/css/all.min.css");
@import url('http://localhost:3500/fonts/roboto/roboto.css');*/
@import '~ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

html, body {
  height: 100%;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.saveProductMenuForm, .saveIngredientMenuForm, .saveComboMenuForm, .saveIngredientForm, .saveProductForm, .saveComboProductForm, .saveComboForm {
  input:not([type='checkbox']) {
    display: block;
    width: calc(100% - 32px);
    margin: 16px;
    font-size: 24px;
    color: #5E5B58;
    border: 1px solid #5E5B58;
  }

  button {
    font-size: 20px;
    padding: 16px;
    border-radius: 100px;
    border: 0;
    background-color: #F2AC21;
    color: white;
    outline: 0;
  }
}

dropzone {
  .dz-message {
    height: 400px !important;
    overflow: hidden;
  }

  .dz-started.dz-wrapper {
    border: 1px dotted silver !important;
  }

  .dz-wrapper {
    height: 430px !important;
    overflow: hidden;
  }

  .dz-started {
    .dz-message {
      display: none !important;
    }
  }
}


.imageArea {
  text-align: center;

  .imgContainer {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;

    img {
      width: 200px;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      color: red;
      cursor: pointer;
    }
  }

  img, .imgPlaceholder {
    border: 1px solid #c0c0c033;
  }
}

.mat-tab-body {
  height: 100vh !important;
}
