<form [formGroup]="saveIngredientForm" #f class="saveIngredientForm">

  <h1 mat-dialog-title>{{edit ? 'Edit' : 'Add new'}} ingredient</h1>

  <mat-dialog-content>

    <!-- Image area -->
    <div class="imageArea">

      <div class="imgContainer" *ngIf="ingredientImg" [hidden]="true">
        <img [src]="ingredientImg" *ngIf="edit">
        <i class="fa fa-times-circle" (click)="ingredientImg = null"></i>
      </div>

      <div class="imgPlaceholder" *ngIf="!ingredientImg">
      </div>


      <ng-container *ngIf="(edit && !ingredientImg) || !edit">

        <input type="file" name="avatar" accept="image/png, image/jpeg"
               (change)="getImage($event.target.files)">
        <input type="hidden" formControlName="image">
        <mat-error *ngIf="imageFieldCtrl.hasError('required') && submitted">
          Image is <strong>required</strong>
        </mat-error>
      </ng-container>
    </div>

    <div class="ingredientInfo">

      <input type="text" placeholder="Ingredient Title" name="it" formControlName="title"
             autocomplete="off">
      <mat-error *ngIf="titleCtrl.touched && titleCtrl.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>

      <div class="light-price-container">
        <input type="text" placeholder="Ingredient Light price" name="it" formControlName="light_price" #light
               autocomplete="off">
        <mat-error *ngIf="lightPriceCtrl.touched && lightPriceCtrl.hasError('required')">
          Light price is <strong>required</strong>
        </mat-error>
        <mat-checkbox checked="true" (change)="disableInput(light,'light_price')"></mat-checkbox>
      </div>

      <div class="normal-price-container">
        <input type="text" placeholder="Ingredient Normal price" #normal name="it" formControlName="normal_price"
               autocomplete="off">
        <mat-checkbox checked="true" (change)="disableInput(normal,'normal_price')"></mat-checkbox>
        <mat-error *ngIf="priceCtrl.touched && priceCtrl.hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </div>

      <div class="double-price-container">
        <input type="text" placeholder="Ingredient Double price" #dbl name="it" formControlName="double_price"
               autocomplete="off">
        <mat-error *ngIf="doublePriceCtrl.touched && doublePriceCtrl.hasError('required')">
          Double price is <strong>required</strong>
        </mat-error>
        <mat-checkbox checked="true" (change)="disableInput(dbl,'double_price')"></mat-checkbox>
      </div>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions>
    <button (click)="save()">{{edit ? 'Update' : 'Add new'}} ingredient</button>
  </mat-dialog-actions>
</form>
